{
  "plugins": [ "@trivago/prettier-plugin-sort-imports" ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^~(.*|api|app|assets|components|constants|hooks|i18n|libs|models|stores|utils|types)/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
